// Common element colors

$very-dark-green: #230;
$dark-green: #450;
$darkish-green: #670;
$lightish-green: #9A0;
$light-green: #CE7;
$bright-green: #DF9;

$gray-f: #F7F7F7;
$gray-e: #EEE;
$gray-d: #DDD;
$gray-c: #CCC;
$gray-b: #BBB;
$gray-a: #AAA;
$gray-9: #999;
$gray-8: #888;
$gray-7: #777;
$gray-6: #666;
$gray-5: #555;

$transparent: rgba(0, 0, 0, 0);

$background-green: $light-green;
$background-gray: $gray-d;

$border-color: $dark-green;
$border-color-light: $lightish-green;
$border-color-light-gray: $gray-d;
$border-color-gray: $gray-b;

$alert-orange: #B80;
$unit-yellow: #FF0;
$unit-red: #E00;
$unit-dark-red: #C00;

.red {
  color: $alert-orange;
}
.green {
  color: $darkish-green;
}
.transparent {
  color: $transparent;
}

.background-gray {
  background-color: $gray-d;
}

.nation-ussr { background-color: #DA7; }
.nation-usa { background-color: #BC7; }
.nation-uk { background-color: #DC9; }
.nation-can { background-color: #DC9; }
.nation-aus { background-color: #DC9; }
.nation-nz { background-color: #DC9; }
.nation-ind { background-color: #DC9; }
.nation-sa { background-color: #DC9; }
.nation-fra { background-color: #AAF; }
.nation-frf { background-color: #AAF; }
.nation-chi { background-color: #CCF; }
.nation-pol { background-color: #EA9; }
.nation-gre { background-color: #EA9; }
.nation-nor { background-color: #EA9; }
.nation-bel { background-color: #EA9; }
.nation-dut { background-color: #EA9; }
.nation-yug { background-color: #EA9; }

.nation-ger { background-color: #BBB; }
.nation-ita { background-color: #9DC; }
.nation-jap { background-color: #ED4; }
.nation-fin { background-color: #CCC; }
.nation-bul { background-color: #7CB; }
.nation-hun { background-color: #7CB; }
.nation-rom { background-color: #7CB; }
.nation-slv { background-color: #7CB; }
.nation-cro { background-color: #7CB; }

// Not used:
// .nation-usm { background-color: #AB4; }
// .nation-phi { background-color: #DE6; }
// .nation-yug { background-color: #FAA; }
// .nation-net { background-color: #FC5; }
// .nation-bel { background-color: #FC5; }
// .nation-gre { background-color: #AEE; }
// .nation-nor { background-color: #DDF; }
// .nation-rom { background-color: #9CB; }
// .nation-bul { background-color: #9CB; }
// .nation-hun { background-color: #9CB; }
// .nation-slo { background-color: #9CB; }
// .nation-pol { background-color: #FAA; }

