// Common element colors

$very-dark-green: #230;
$dark-green: #450;
$darkish-green: #670;
$light-green: #CE7;
$bright-green: #DF9;

$light-gray: #DDD;
$lightish-gray: #BBB;

$background-green: $light-green;
$background-gray: $light-gray;

$border-color: $dark-green;
$border-color-light-gray: $light-gray;
$border-color-gray: $lightish-gray;

$alert-orange: #B80;

// National colors:

$nation-usarmy: #AB4;
$nation-usmarines: #9A2;
$nation-soviet: #C84;
$nation-commonwealth: #ECA;
$nation-french: #AAF;
$nation-chinese: #CCF;
$nation-polish: #FAA;
$nation-greek: #AEE;
// Yugoslav, Dutch, Belgian, Danish, Norwegian, Philippine, Brazil?

$nation-german: #BBB;
$nation-italian: #8E8;
$nation-japanese: #ED5;
$nation-finnish: #DDD;
// Hungarian, Slovakian, Romanian, Bulgarian
$nation-axis-minor: #9CB;

.red {
  color: $alert-orange;
}