// Common element colors

$dark-green: #450;
$light-green: #CE7;

$background-green: $light-green;
$background-gray: #DDD;

$border-color: $dark-green;
$border-color-light-gray: $background-gray;

// National colors:

$nation-usarmy: #AB4;
$nation-usmarines: #9A2;
$nation-soviet: #C84;
$nation-commonwealth: #ECA;
$nation-french: #AAF;
$nation-chinese: #CCF;
$nation-polish: #FAA;
$nation-greek: #AEE;
// Yugoslav, Dutch, Belgian, Danish, Norwegian, Philippine, Brazil?

$nation-german: #BBB;
$nation-italian: #8E8;
$nation-japanese: #ED5;
$nation-finnish: #DDD;
// Hungarian, Slovakian, Romanian, Bulgarian
$nation-axis-minor: #9CB;
