// Base counter
.unit-counter {
  position: relative;
  height: 5rem;
  width: 5rem;
  margin: 0.2rem;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.unit-counter-year {
  height: 5rem;
  width: 5rem;
  margin: 0.2rem;
  font-size: 3.6rem;
  color: $gray-a;
  text-align: center;
}

.unit-counter-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.8rem;
  padding-left: 2px;
  font-size: 0.575rem;
}

.unit-counter-name-small {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.8rem;
  padding-left: 2px;
  font-size: 0.525rem;
}

.unit-counter-name-smaller {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.8rem;
  padding-left: 2px;
  font-size: 0.5rem;
}

.unit-counter-name-smallest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.8rem;
  padding-left: 2px;
  font-size: 0.475rem;
}

.unit-counter-name-broken {
  color: white;
  background-color: $unit-dark-red;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.unit-counter-subtitle {
  position: absolute;
  top: 12px;
  left: 0;
  width: 40px;
  height: 0.8rem;
  padding-left: 2px;
  font-size: 0.575rem;
}

.unit-counter-icon {
  position: absolute;
  padding: 0;
  top: 13px;
  left: 20px;
  width: 40px;
  height: 40px;
}

// Status overlays
.unit-counter-status {
  position: absolute;
  top: 12px;
  right: 1.2rem;
  height: 2.6rem;
  width: 2.6rem;
  padding-top: 0.4rem;
  opacity: 0.8;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

.unit-counter-status-red {
  border: 2px solid white;
  background-color: $unit-red;
  color: white;
}

.unit-counter-status-yellow {
  border: 2px solid black;
  background-color: yellow;
}

// Section shape bases
.unit-counter-sec {
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  font-family: monospace;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0)
}

.unit-counter-sec-range {
  position: absolute;
  padding: 0;
  width: 32px;
  height: 14px;
  font-family: monospace;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.0);
}

.unit-counter-sec-armor {
  position: absolute;
  padding: 0;
  width: 28px;
  height: 20px;
  font-family: monospace;
  border: 1px solid rgba(0,0,0,0.0);
}

.unit-counter-sec-sponson {
  position: absolute;
  padding: 0;
  width: 28px;
  height: 12px;
  font-family: monospace;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.0);
}

.unit-counter-sec-small-circle {
  position: absolute;
  padding: 0;
  width: 16px;
  height: 16px;
  font-family: monospace;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0)
}

// Section shapes
.unit-counter-box span {
  display: block;
  transform: translate(0, -3px);
}

.unit-counter-box-small span {
  display: block;
  font-size: 0.85rem;
  transform: translate(0, -1px);
}

.unit-counter-circle {
  border-radius: 50%;

  span {
    display: block;
    transform: translate(0, -3px);
  }
}

.unit-counter-circle-small {
  border-radius: 50%;

  span {
    display: block;
    font-size: 0.8rem;
    transform: translate(0, -0.5px);
  }
}

.unit-counter-small-circle {
  border-radius: 50%;

  span {
    display: block;
    font-size: 0.7rem;
    transform: translate(0, -1px);
  }
}

.unit-counter-hex {
  background-image: url('/assets/unit-hex.svg');
  background-repeat: no-repeat;

  span {
    display: block;
    transform: translate(0, -3px);
  }
}

.unit-counter-hex-small {
  background-image: url('/assets/unit-hex.svg');
  background-repeat: no-repeat;

  span {
    display: block;
    font-size: 0.7rem;
    transform: translate(0, 1px);
  }
}

.unit-counter-range-circle {
  border-radius: 7px;

  span {
    display: block;
    font-size: 0.675rem;
    transform: translate(0, -2.25px);
  }
}

.unit-counter-armor span {
  display: block;
  font-size: 0.575rem;
  font-family: sans-serif;
  text-align: right;
  transform: translate(0, -0.1px);
}

.unit-counter-sponson span {
  display: block;
  font-size: 0.575rem;
  font-family: sans-serif;
  transform: translate(0, -2px);
}

// Section Locations
.unit-counter-top-left {
  top: 12px;
  left: 2px;
}

.unit-counter-size {
  top: 12px;
  right: 2px;
}

.unit-counter-left {
  top: 34px;
  left: 2px;
}

.unit-counter-top-left-small {
  top: 16px;
  left: 4px;
}

.unit-counter-left-small {
  top: 34px;
  left: 4px;
}

.unit-counter-right {
  top: 34px;
  right: 2px;
}

.unit-counter-firepower {
  bottom: 2px;
  left: 6px;
}

.unit-counter-movement {
  bottom: 2px;
  right: 6px;
}

.unit-counter-range {
  bottom: 2px;
  left: 29px;
}

.unit-counter-firepower-w-range {
  bottom: 2px;
  left: 2px;
}

.unit-counter-range-range {
  bottom: 5px;
  left: 23px;
}

.unit-counter-movement-w-range {
  bottom: 2px;
  right: 2px;
}

.unit-counter-turret-armor {
  top: 31px;
  right: 2px;
}

.unit-counter-hull-armor {
  top: 41px;
  right: 2px;
}

.unit-counter-sponson {
  top: 43px;
  left: 24px;
}

// Color Styling
.unit-counter-red-text {
  font-weight: bolder;
  color: $unit-dark-red;
}

.unit-counter-outline {
  border: 1px solid black;
}

.unit-counter-white {
  border: 1px solid white;
  background-color: white;
}

.unit-counter-white-black {
  border: 1px solid black;
  background-color: white;
}


.unit-counter-black {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.unit-counter-black-yellow {
  border: 1px solid $unit-yellow;
  background-color: black;
  color: $unit-yellow;
}

.unit-counter-yellow {
  border: 1px solid black;
  background-color: $unit-yellow;
  color: black;
}
