.mt025em { margin-top: 0.25em; }
.mb025em { margin-bottom: 0.25em; }
.ml025em { margin-left: 0.25em; }
.mr025em { margin-right: 0.25em; }

.mt05em { margin-top: 0.5em; }
.mb05em { margin-bottom: 0.5em; }
.ml05em { margin-left: 0.5em; }
.mr05em { margin-right: 0.5em; }

.mt075em { margin-top: 0.75em; }
.mb075em { margin-bottom: 0.75em; }
.ml075em { margin-left: 0.75em; }
.mr075em { margin-right: 0.75em; }

.mt1em { margin-top: 1em; }
.mb1em { margin-bottom: 1em; }
.ml1em { margin-left: 1em; }
.mr1em { margin-right: 1em; }

.mt2em { margin-top: 2em; }
.mb2em { margin-bottom: 2em; }
.ml2em { margin-left: 2em; }
.mr2em { margin-right: 2em; }

.p1em { padding: 1em }
.p05em { padding: 0.5em }

.pt05em { padding-top: 0.5em; }
.pb05em { padding-bottom: 0.5em; }
.pl05em { padding-left: 0.5em; }
.pr05em { padding-right: 0.5em; }

.align-end {
  text-align: end;
}

.valign-bottom {
  vertical-align: bottom;
}

.nowrap {
  white-space: nowrap;
}

.font11em {
  font-size: 1.1em;
}

.flex {
  display: flex;
}

.flex-fill {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-start {
  align-items: flex-start;
}

.corner-round {
  border-radius: 0.5rem;
}

.edge-line {
  border: 2px solid $gray-c;
}

.control-large {
  font-size: 1.5em;
}

.monospace {
  font-family: 'Courier Prime', monospace;
  position: relative;
  bottom: -2px;
}

.bold {
  font-weight: bold;
}
