// Game styles

.nation-pill {
  padding: 0 0.5em 0.1em 0.5em;
  margin: 0 0.1em;
  font-variant-caps: all-small-caps;
  border: 1px solid black;
  border-radius: 0.25em;
}

// Counters

.unit-counter {
  position: relative;
  height: 5rem;
  width: 5rem;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.unit-name {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 2px;
  width: 100%;
  height: 0.8rem;
  font-size: 0.575rem;
}

.unit-name-broken {
  color: white;
  background-color: $unit-red;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.unit-disp {
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  font-family: monospace;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.0);
}

.unit-disp span {
  display: block;
  transform: translate(0, -3px);
}

.unit-disp-wide {
  position: absolute;
  padding: 0;
  width: 28px;
  height: 20px;
  font-family: monospace;
  text-align: right;
  border: 1px solid rgba(0,0,0,0.0);
}

.unit-disp-wide span {
  display: block;
  transform: translate(0, -3px);
}

.unit-disp-dbl {
  position: absolute;
  padding: 0;
  width: 28px;
  height: 12px;
  font-family: monospace;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.0);
}

.unit-disp-dbl span {
  font-size: 0.6rem;
  display: block;
  transform: translate(0, -2px);
}

.unit-icon {
  position: absolute;
  padding: 0;
  top: 13px;
  left: 20px;
  width: 40px;
  height: 40px;
}

.unit-disp-box {
  border: 1px solid black;
}

.unit-disp-circle {
  border: 1px solid black;
  border-radius: 50%;
}

.unit-disp-oval {
  border: 1px solid black;
  border-radius: 5px;
}

.unit-disp-hex {
  background-image: url('/assets/unit-hex.svg');
  background-repeat: no-repeat;
}

// .unit-disp-hex-fill {
  // -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  // clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
// }

.unit-disp-small-circle {
  width: 16px;
  height: 16px;
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 50%;
}

.unit-disp-white {
  border: 1px solid white;
  background-color: white;
}

.unit-disp-black {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.unit-disp-white-black {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.unit-disp-red-white {
  border: 1px solid white;
  background-color: $unit-red;
  color: white;
}

.unit-disp-red {
  border: 1px solid $unit-red;
  background-color: $unit-red;
  color: white;
}

.unit-disp-red-text {
  font-weight: bolder;
  color: $unit-red;
}

.unit-disp-yellow {
  border: 1px solid $unit-yellow;
  background-color: $unit-yellow;
  color: black;
}

.unit-disp-small {
  font-size: 0.85rem;
}

.unit-disp-small span {
  display: block;
  transform: translate(0, -1px);
}

.unit-disp-more-small {
  font-size: 0.75rem;
}

.unit-disp-more-small span {
  display: block;
  transform: translate(0, -0.1px);
}

.unit-disp-very-small {
  font-size: 0.75rem;
}

.unit-disp-very-small span {
  display: block;
  transform: translate(0, -2.5px);
}

.unit-disp-hex-small {
  font-size: 0.7rem;
}

.unit-disp-hex-small span {
  display: block;
  transform: translate(0, 1px);
}

.unit-disp-extremely-small {
  font-size: 0.55rem;
}

.unit-disp-extremely-small span {
  font-family: sans-serif;
  display: block;
  transform: translate(0, 0.1px);
}

.unit-morale {
  top: 14px;
  left: 2px;
}

.unit-special-vehicle-top {
  top: 14px;
  left: 3px;
}

.unit-size {
  top: 14px;
  right: 2px;
}

.unit-special-left-leader {
  top: 34px;
  left: 2px;
}

.unit-special-left-gun {
  top: 36px;
  left: 4px;
}

.unit-special-left-modifier {
  top: 34px;
  left: 2px;
}

.unit-special-breakdown {
  top: 30px;
  left: 3px;
}

.unit-special-vehicle-bottom {
  top: 34px;
  left: 3px;
}

.unit-special-right-modifier {
  top: 37px;
  right: 3px;
}

.unit-special-right-gun {
  top: 35px;
  right: 3px;
}

.unit-hull-armor {
  top: 39px;
  right: 2px;
}

.unit-turret-armor {
  top: 29px;
  right: 2px;
}

.unit-firepower {
  bottom: 3px;
  left: 4px;
}

.unit-range {
  bottom: 3px;
  left: 29px;
}

.unit-range-dbl {
  bottom: 6.5px;
  left: 24px;
}

.unit-movement {
  bottom: 3px;
  right: 4px;
}

.unit-movement-small {
  bottom: 5px;
  right: 6px;
}

.unit-status {
  position: absolute;
  padding: 0 0.25rem;
  opacity: 0.6;
  top: 0;
  right: 0;
  font-size: 0.575rem;
  border-radius: 0.2rem;
}

.unit-status-red {
  opacity: 0.6;
  background-color: red;
  color: white;
}

.unit-status-yellow {
  opacity: 0.7;
  background-color: yellow;
}

.unit-list-multiplier {
  transform: translate(0, 3.75rem);
}
