@import './map.scss';

// Game styles

.nation-pill {
  padding: 0 0.5em 0.1em 0.5em;
  margin: 0 0.1em;
  font-variant-caps: all-small-caps;
  border: 1px solid black;
  border-radius: 0.25em;
}

.unit-list-multiplier {
  transform: translate(0, 3.75rem);
}

// Create game page layout
.scenario-form-container {
  min-width: 500px;
  padding: 1em;
  margin-right: 0.5em;
  border: 2px solid $border-color-light-gray;
  border-radius: 0.5em;
}

.scenario-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0 1em 1em;
  flex-grow: 1;
  background-color: $background-gray;
  border-radius: 0.5em;
}

.scenario-list-filter {
  flex-grow: 1;
  margin-right: 1em;
}

.scenario-list-select {
  min-height: 135px;
  margin: 1em 1em 0 0;
  flex-basis: 100%;
}

.scenario-row {
  display: flex;
  flex-basis: auto;
  background-color: $gray-f;
  padding: 0.25em 0.5em 0.35em 0.5em;
  margin-top: 1px;
  border: 2px solid $gray-c;
  border-radius: 0.33em;
}

.scenario-row-selected {
  background-color: white;
}

.scenario-row-code {
  color: $alert-orange;
  text-align: end;
  margin-right: 0.5em;
  font-family: 'Courier Prime', monospace;
  position: relative;
  bottom: -2px;
  width: 3.25em;
}

.scenario-description {
  padding: 1em;
  margin: 0 0.5em 1em;
  border: 2px solid $gray-c;
  border-radius: 0.5em;
}

.scenario-no-description {
  color: $gray-8;
}

.scenario-description-row {
  display: flex;
  padding: 0.5em 1em;
}

// Chat/Move sections

.game-chat-output {
  height: 130px;
}

.game-page-moves {
  margin-right: 0.5em;
  width: 50%;
  padding: 0.5em;
  background-color: $background-gray;
  border-radius: 0.5em;
}

.move-output {
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  overflow-y: scroll;

  display: flex;
  flex-direction: column-reverse;
}

.move-output-logged-in {
  height: calc(130px + 3em);
}

.move-output-logged-out {
  height: 130px;
}


.move-output-record {
  flex-direction: row;
  display: flex;
}

.move-output-date {
  font-family: 'Courier Prime', monospace;
  position: relative;
  bottom: -2px;
  color: $gray-b;
  padding-right: 0.5em;
}

.move-output-message {
  flex-grow: 1;
}

.move-output-username {
  color: $darkish-green;
  font-weight: bold;
  padding-right: 0.5em;
}

// Game screen layout

.game-control {
  display: flex;
  background-color: $background-gray;
  padding: 0.25em 1em;
  border-radius: 0.5em;
}

.game-error {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
  padding: 500px calc(50% - 250px);
  margin: 0px;
  width: 100%;
  height: 100%;
}

.game-error-window {
  position: relative;
  width: 500px;
  height: 250px;
  background-color: $background-gray;
  border-radius: 0.5em;
  padding: 0.25em;
  border: 2px solid $darkish-green;
}

.game-error-window-inner {
  display: flex;
}

.game-error-icon {
  position: static;
  display: block;
  font-size: 3em;
  height: 150px;
  padding-left: 0.25em;
}

.game-error-text {
  position: relative;
  display: block;
  flex-grow: 5;
  font-size: 1.2em;
  padding: 0.75em 0.5em;
  height: 150px;
}

.game-error-button {
  position: absolute;
  right: 8px;
  bottom: 8px;
}