@import './counter.scss';

// Game styles

.nation-pill {
  padding: 0 0.5em 0.1em 0.5em;
  margin: 0 0.1em;
  font-variant-caps: all-small-caps;
  border: 1px solid black;
  border-radius: 0.25em;
}

.unit-list-multiplier {
  transform: translate(0, 3.75rem);
}
